<mat-toolbar>
  <img routerLink="/" src="assets/Logo_MyEduLife.png" alt="MyEduLife Logo" />
  <span><a routerLink="/">Issuer Control Center</a></span>
  <span class="example-spacer"></span>
  <a class="app-nav-icon" routerLink="/impressum">Impressum</a>
</mat-toolbar>
<div class="signup">
  <h1>Digitale Zertifikate mit MyEduLife</h1>
  <p>Im Projekt „MyEduLife“ erproben wir die Erstellung und Versendung digitaler Zertifikate. Wenn Sie im Rahmen unserer Erprobung Ihren Teilnahmenachweis zusätzlich als digitales Zertifikat erhalten möchten, melden Sie sich bitte hier an.</p>
  <p>Bitte lesen Sie die folgenden Erklärungen zu unserem Forschungsprojekt und zur Nutzung und Verarbeitung Ihrer Daten sorgfältig durch. Bei Rückfragen oder Verständnisschwierigkeiten können Sie sich gern bei Dr. Jörg Neumann (<a href="tel:+4935146332902">+49 (0) 351-463 329 02</a>, <a href="mailto:joerg.neumann&#64;tu-dresden.de?subject=MyEduLife%20-%20Datenschutzerkärung&body=Lieber%20Herr%20Dr.%20Neumann,">joerg.neumann&#64;tu-dresden.de</a>) melden. Wenn Sie mit unserem Vorhaben einverstanden sind, bestätigen Sie bitte, dass Sie die Angaben zur Nutzung Ihrer Daten verstanden haben, mit der Nutzung dieser zu den angegebenen Zwecken einverstanden sind und freiwillig an unserer Erprobung teilnehmen.</p>

  <section class="after-box">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Einwilligungserklärung
          </mat-panel-title>
          <mat-panel-description>
            <a mat-raised-button href="https://cloud.mz.tu-dresden.de/index.php/s/YNzGE757wksDyK7" target="_blank">Download</a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <h2>Informationen zum Forschungskontext</h2>
          <p>
            Das BMBF-geförderte Forschungsprojekt „MyEduLife“ entwickelt und erprobt technische und organisatorische Lösungen für eine datenschutzkonforme, fälschungssichere und standardisierte Dokumentation von Weiterbildungsnachweisen. Bescheinigungen für Weiterbildungsaktivitäten sollen so einfacher ausgestellt und verwaltet werden können. Teilnehmende sollen alle Nachweise an einem Ort digital vorhalten und im Falle einer Prüfung von Befähigungen, in Bewerbungsprozessen oder anderen Kontexten der beruflichen Weiterentwicklung, diese jederzeit für Arbeitgebende oder Prüfstellen freigeben können. Aufgrund der Vergleichbarkeit von Daten auf den Nachweisen sollen sich die erworbenen Fähigkeiten und Kompetenzen in einer Weiterbildung durch Dritte besser beurteilen und vergleichen lassen und die Weiterbildungsteilnehmenden sollen sich bei einer beruflichen Weiterentwicklung oder Umorientierung transparenter informieren und Vorschläge erhalten können. Im Forschungsprojekt „MyEduLife“ wollen wir daher die Ausstellung maschinell verarbeitbarer Zertifikate erproben und die Erfahrungen aller beteiligten Akteur:innen (Zertifikatsaussteller, Zertifikatsempfänger) dokumentieren.
          </p>
          <p>An unserem Projekt sind unter der Leitung des CODIP an der TU Dresden sowohl wissenschaftliche und technische Partner wie die RWTH Aachen, die TH Lübeck und die BPS GmbH als auch Erprobungspartner wie das njumii – Bildungszentrum der Handwerkskammer Dresden, das Elektrobildungs- und Technologiezentrum e. V. und die Kompass Kompetenzen passgenau vermitteln gGmbH beteiligt. Die im Projekt stattfindenden Erprobungsdurchläufe und Erhebungen werden durch die TU Dresden durchgeführt. Das Projekt wird aus Mitteln des Bundesministeriums für Bildung und Forschung (BMBF) finanziell gefördert und durch das Bundesinstitut für Berufliche Bildung (BIBB) betreut.</p>
          <p>Im Rahmen der technischen Erprobung des Projektes möchten wir gern die Prozesse der digitalen Zertifikatserstellung in Kursen und mit realen Nutzenden erproben. Die dabei gemachten Erfahrungen dokumentieren wir und führen hierzu Erhebungen durch. Hierzu bitten wir Sie um die Teilnahme an unserer Erprobung und den begleitenden Befragungen.</p>
          <p>Im Folgenden informieren wir Sie über den datenschutzrechtskonformen Umgang mit Ihren personenbezogenen Daten und bitten um Ihre Zustimmung zur Teilnahme an unserer Studie sowie zur Verwendung Ihrer Daten für die angegebenen Zwecke.</p>
        </section>
        <p><br/></p>
        <section>
          <h2>Informationen zum Datenschutz</h2>
          <p>Wir arbeiten nach den Vorschriften der Datenschutz-Grundverordnung, des Bundesdatenschutzgesetzes und des sächsischen Datenschutzgesetzes und wenden die <a href="http://tu-dresden.de/tu-dresden/qualitaetsmanagement/ressourcen/dateien/wisprax/Leitlinien-fuer-den-Umgang-mit-Forschungsdaten-an-der-TU-Dresden.pdf">Leitlinien für den Umgang mit Forschungsdaten an der TU Dresden</a> an.</p>
          <div class="cards">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Welche Daten verarbeiten wir?</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>Im Rahmen der Erprobung werden folgende Daten erhoben: Persönliche Angaben der Weiterbildungsteilnehmenden (Vorname, Name, Geburtsdatum, Geschlecht, E-Mail-Adresse), Angaben zum besuchten Weiterbildungskurs und den erreichten Lernergebnissen (Titel des Kurses, Umfang, Zeitraum, Ort, Abschluss, Noten, erteilte Lerninhalte). Diese Daten möchten wir wie im Folgenden dargelegt verwenden.</p>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Wie verarbeiten wir die Daten?</mat-card-title>
              </mat-card-header>
              <p>Für die Ausstellung und Speicherung der digitalen Zertifikate werden personenbezogene Daten der Zertifikatsempfänger:innen verarbeitet. Diese umfassen Angaben zu persönlichen Identifizierung (z. B. Vorname, Name, Geschlecht, Geburtsdatum, E-Mail-Adresse) und zu den besuchten Weiterbildungsangeboten (z. B. Titel, Zeitraum, Umfang, Format, Prüfung, Noten, Ort, Inhalte der Weiterbildung).</p>
              <p>Die Angaben werden zur Ausstellung der Zertifikate einmalig verarbeitet und die Zertifikate anschließend direkt an die Zertifikatsempfänger:innen zugestellt. Jede:r Nutzer:in erhält ein Nutzerkonto mit dem er:sie seine:ihre eigenen Daten verwalten kann. Das digitale Zertifikat wird anhand dieser Angaben auf Servern der RWTH erstellt und gespeichert. Ein Hashwert über die ausgestellten Zertifikate (ohne personenbezogene Informationen) wird anschließend dauerhaft in einer Blockchain gespeichert. Die sachbezogenen Zertifikatsinformationen (z. B. Titel, Zeitraum, Umfang, Format, Prüfung, Ort, Inhalte der Weiterbildung) werden pseudonymisiert gespeichert.</p>
              <p>An der TU Dresden werden im Rahmen der wissenschaftlichen Begleitung wissenschaftliche Erhebungen (Fragebogenbasiert, Interviews) durchgeführt. Die dabei erhobenen Daten werden anonymisiert erfasst und gespeichert. Die erhobenen Daten umfassen ggf. Angaben zu Geschlecht, Alter, Branchenzugehörigkeit.</p>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Welche weiteren Datenverarbeiter gibt es?</mat-card-title>
              </mat-card-header>
              <p>Daten in Online-Befragungen werden mit Hilfe der Software EFS Survey/EFS Panel der Questback GmbH erfasst und beim Hoster Datagroup Bremen, der nach ISO 27001 zertifiziert ist, gespeichert. Die Verarbeitung wird im Rahmen eines Vertrages zwischen der TU Dresden und der Questback GmbH geregelt. Die Questback GmbH garantiert die vertrauliche Behandlung aller Daten. Die Befragungsdaten werden aus der Befragungssoftware in Statistik- bzw. Kalkulationsprogramme exportiert. Anschließend werden die Daten durch unser Team von Forscher:innen statistisch ausgewertet. Die Auswertung erfolgt anonymisiert, d. h., es werden sämtliche Hinweise, die Rückschlüsse auf Ihre Person ermöglichen entfernt.</p>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Wie verwenden wir Daten in wissenschaftlichen Veröffentlichungen?</mat-card-title>
              </mat-card-header>
              <p>Die Veröffentlichung von Forschungsergebnissen in Publikationen oder auf Tagungen erfolgt ausschließlich in anonymisierter und aggregierter Form und lässt zu keinem Zeitpunkt Rückschlüsse auf Ihre Person zu.</p>
              <p>Ihr Einverständnis vorausgesetzt, werden die in dieser Studie erhobenen anonymisierten Daten im Sinne guter wissenschaftlicher Praxis bei einem vertrauenswürdigen Archiv aufbewahrt und können von anderen Wissenschaftler:innen zu Zwecken der Bildungsforschung genutzt werden.</p>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Was geschieht, wenn ich nicht (mehr) in die Verarbeitung meiner Daten einwillige?</mat-card-title>
              </mat-card-header>
              <p>Ihre Teilnahme an den Erhebungen und Ihre Zustimmung zur Verwendung der Daten wie oben beschrieben sind freiwillig. Sie haben jederzeit die Möglichkeit zu widerrufen. Durch Verweigerung oder Widerruf entstehen Ihnen keine Nachteile. Sie haben das Recht auf Auskunft, Berichtigung, Löschung, Einschränkung der Verarbeitung und auf Widerspruch gegen die weitere Verarbeitung Ihrer personenbezogenen Daten. Daten, die der TU Dresden nur noch in pseudonymisierter oder anonymisierter Form vorliegen und in denen ein Personenbezug nicht mehr zweifelsfrei hergestellt werden kann, sind hiervon ausgenommen.</p>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-title>An wen wende ich mich bei Fragen und Beschwerden?</mat-card-title>
              </mat-card-header>
              <p>Wenn Sie der Auffassung sind, dass wir bei der Verarbeitung Ihrer Daten datenschutzrechtliche Vorschriften nicht beachtet haben, können Sie sich mit einer Beschwerde an die zuständige Aufsichtsbehörde wenden, die Ihre Beschwerde prüfen wird.</p>
              <p>Ihre Erklärungen zur Geltendmachung Ihrer Rechte sind grundsätzlich schriftlich an den Verantwortlichen Dr. Jörg Neumann (<a href="mailto:joerg.neumann&#64;tu-dresden.de">joerg.neumann&#64;tu-dresden.de</a>) zu richten.</p>
              <p>Für die Einhaltung der Datenschutzbestimmungen ist verantwortlich:<br/>Center for Open Digital Innovation and Participation (CODIP) der Technischen Universität Dresden (Ansprechperson: Dr. Jörg Neumann)</p>
              <p>Ihre Ansprechperson in datenschutzrechtlichen Fragen:<br/>Datenschutzbeauftragter der TU Dresden (Jens Syckor, <a href="mailto:informationssicherheit&#64;tu-dresden.de">informationssicherheit&#64;tu-dresden.de</a>)</p>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Wie werden meine Daten geschützt?</mat-card-title>
              </mat-card-header>
              <p>Das Projekt „MyEduLife“ und der beauftragte Dienstleister, die Questback GmbH, sowie dessen Subunternehmer Datagroup Bremen, setzen technische und organisatorische Sicherheitsmaßnahmen ein, um Ihre dem Projekt zur Verfügung gestellten Daten durch zufällige oder vorsätzliche Manipulation, Verlust, Zerstörung oder den Zugriff unberechtigter Personen zu schützen.</p>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Wie lange werden meine Daten aufbewahrt?</mat-card-title>
              </mat-card-header>
              <p>Ihre Daten werden nach der Erhebung so lange gespeichert, wie sie für die Erfüllung des oben genannten Zwecks erforderlich sind. Sie werden gelöscht, sobald sie für die Erreichung des Zwecks ihrer Erhebung nicht mehr erforderlich sind oder Sie Ihre Einwilligung widerrufen. Ihre Einwilligung sowie der Widerruf der Einwilligung werden aufbewahrt, solange dies zu Beweiszwecken erforderlich ist.</p>
            </mat-card>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <section class="after-box">
    <form role="form" (ngSubmit)="onSubmit()" #signupForm="ngForm" class="kh-custom">
      <div class="form-group checkbox">
        <label for="privacyAndTermsOfUse">
          <input type="checkbox" id="privacyAndTermsOfUse" required  [(ngModel)]="model.privacyAndTermsOfUse" name="privacyAndTermsOfUse" #privacyAndTermsOfUse="ngModel">Ich habe die Angaben zur Nutzung meiner personenbezogenen Daten gelesen und verstanden. Ich bestätige, dass ich an der Erprobung freiwillig teilnehmen möchte und bin mir bewusst, dass mir durch Verweigerung keine Nachteile entstehen und ich meine Zustimmung jederzeit widerrufen kann. Ich bin mit der Erhebung, Verarbeitung, Speicherung und Weitergabe meiner personenbezogenen Daten entsprechend der Beschreibungen zum oben bezeichneten Forschungsvorhaben einverstanden.
        </label>
        <div [hidden]="privacyAndTermsOfUse.value || (privacyAndTermsOfUse.pristine && !signupForm.submitted)" class="alert alert-danger">Sie müssen der Datenschutzerklärung zustimmen.</div>
      </div>
      <ng-hcaptcha [hidden]="privacyAndTermsOfUse.value == false" (verify)="onVerify($event)"
                   (expired)="onExpired($event)"
                   (error)="onError($event)">
      </ng-hcaptcha>
      <div [hidden]="privacyAndTermsOfUse.value == false || captcha == false">
        <h2>Registrierung</h2>
          <div class="form-group">
            <label for="nickname">Benutzername</label>
            <input type="text" class="form-control" id="nickname" required
                   [(ngModel)]="model.nickname" name="nickname" #nickname="ngModel">
            <div [hidden]="(nickname.value && nickname.value.indexOf(' ') == -1) || (nickname.pristine && !signupForm.submitted)" class="alert alert-danger">
              Der Benutzername darf kein Leerzeichen enthalten.
            </div>
          </div>
          <div class="form-group">
            <label for="firstname">Vorname</label>
            <input type="text" class="form-control" id="firstname" required
                   [(ngModel)]="model.firstName" name="firstname" #firstname="ngModel">
          </div>
          <div class="form-group">
            <label for="lastname">Nachname</label>
            <input type="text" class="form-control" id="lastname" required
                   [(ngModel)]="model.lastName" name="lastname" #lastname="ngModel">
          </div>
          <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" class="form-control" id="password" required
                   [(ngModel)]="model.password" name="password" #password="ngModel">
            <mat-password-strength [password]="model.password"> </mat-password-strength>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Passwort Wiederholung</label>
            <input type="password" class="form-control" id="confirmPassword" required [(ngModel)]="model.confirmPassword" name="confirmPassword" #confirmPassword="ngModel">
            <div [hidden]="confirmPassword.value == password.value || (confirmPassword.pristine && !signupForm.submitted)" class="alert alert-danger">
              Passwörter sind nicht identisch.
            </div>
          </div>
        <!--
          <div class="form-group">
            <label for="walletUrl">Wallet</label>
            <select class="form-control" id="walletUrl" [(ngModel)]="model.walletUrl" name="walletUrl" #walletUrl="ngModel">
              <option value="" selected>---</option>
              <option value="https://wallet.myedulife.dbis.rwth-aachen.de">Weiterbildungsanbieter Wallet</option>
              <option value="https://companywallet.myedulife.dbis.rwth-aachen.de">Company Wallet</option>
            </select>
            <div [hidden]="(!walletUrl.value || walletUrl.value.length < 101) || (walletUrl.pristine && !signupForm.submitted)" class="alert alert-danger">
              Die URL zu der Wallet ist zu lang.
            </div>
          </div>
        -->
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" class="form-control" id="email" required
                   [(ngModel)]="model.email" name="email" #email="ngModel" [email]="true">
            <div [hidden]="(email.value && email.value.indexOf(' ') == -1) || (email.pristine && !signupForm.submitted)" class="alert alert-danger">
              Die Emailadresse darf keine Leerzeichen enthalten.
            </div>
          </div>
          <button type="submit" class="btn btn-auth btn-default hvr-grow" [disabled]="!signupForm.form.valid || confirmPassword.value != password.value || (nickname.value && nickname.value.indexOf(' ') > -1)">Registrieren</button>
      </div>
    </form>
  </section>
  <c-alert color="{{messageType}}" fade *ngIf="message">
    {{ message }}
  </c-alert>
</div>
