:host {
  display: block;
  height: 100vh;
}

.signup {
  padding: 2rem;
}
section {
  padding: 1rem;
}

.cards {
}

mat-card {
  width: 50rem;
  float: left;
  margin: 2rem;
  background-color: #666;
  max-width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar > span > a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

mat-toolbar > span > a:link, mat-toolbar > span > a:visited {
 text-decoration: none;
 color: white;
}

mat-toolbar > img {
  height: 3em;
  margin-right: 1em;
  cursor: pointer;
}

mat-expansion-panel section {
  background-color: #333;
}
