<div class="container">
  <mat-card class="service-card" (click)="redirectToCertPage()">
    <mat-card-title-group>
      <mat-card-title>Zertifikate</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <img mat-card-sm-image class="svgwhite" src="assets/certificate.svg" >
    </mat-card-title-group>
    <mat-card-content>
      Ausstellen von Zertifikaten
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card" (click)="redirectToESCOPage()">
    <mat-card-title-group>
      <mat-card-title>ESCO AI</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <img mat-card-sm-image class="svgwhite" src="assets/ai.svg" >
    </mat-card-title-group>
    <mat-card-content>
      ESCO Fähigkeiten ermitteln
    </mat-card-content>
  </mat-card>
</div>
