.container {
  position: absolute;
}
.service-card {
  max-width: 400px;
  margin: 2rem;
  cursor: pointer;
  color: white;
  padding: 1rem;
  float: left;
}

mat-card-title-group > img {
  margin: 1rem;
}

