<mat-toolbar>
  <img routerLink="/" src="assets/Logo_MyEduLife.png" alt="MyEduLife Logo" />
  <span><a routerLink="/">Issuer Control Center</a></span>
  <span class="example-spacer"></span>
  <a class="app-nav-icon" routerLink="/impressum">Impressum</a>
</mat-toolbar>
<div class="impressum">
  <h2>Anbieterkennzeichnung</h2>
  <p>Es gilt das <a href="https://tu-dresden.de/impressum">Impressum der TU Dresden</a> mit folgenden Abweichungen:</p>
  <h2>VERANTWORTLICHKEITEN</h2>
  <p>Bei inhaltlichen Fragen wenden Sie sich bitte an:</p>
  <p>Dr. Jörg Neumann<br>
    Technische Universität Dresden<br>
    DE – 01062 Dresden</p>
  <p>E-Mail: joerg.neumann&#64;tu-dresden.de<br>
    Telefon: +49 351 463-32902<br>
    Fax: +49 351 463-34963</p>
  <p><strong>Technische Umsetzung:</strong></p>
  <p>Technische Universität Dresden<br>
    Center for Open Digital Innovation and Participation (CODIP), früher Medienzentrum<br>
    01062 Dresden</p>
  <p>Leitung: Prof. Dr. Thomas Köhler</p>
  <p>E-Mail: <a href="mailto:codip&#64;tu-dresden.de">codip&#64;tu-dresden.de</a></p>
  <h2>DATENSCHUTZERKLÄRUNG</h2>
  <p>Die TU Dresden verarbeitet im Rahmen der Nutzung des öffentlich zugänglichen Webangebots (<a href="https://icc.myedulife.dbis.rwth-aachen.de/" target="_blank" rel="noopener">https://icc.myedulife.dbis.rwth-aachen.de</a>) personenbezogene Daten nur in Form von Cookies, die ausschließlich zur Erbringung der Dienstleistung zwingend erforderlich sind. Das heißt insbesondere werden keine sogenannten Tracking-Cookies genutzt, um Nutzerbewegungen und das Surfverhalten der Nutzenden unserer Seite zu erfassen bzw.&nbsp; zu analysieren.</p>
  <h3>Rechtsgrundlage</h3>
  <p>Rechtsgrundlage hierfür ist Art. 6 Abs. 1 lit. f DSGVO.</p>
  <h3>Rechte betroffener Personen</h3>
  <ul>
    <li>Sie haben das Recht, von der TU Dresden Auskunft über die zu Ihrer Person gespeicherten Daten zu erhalten und/oder unrichtig gespeicherte Daten berichtigen zu lassen.</li>
    <li>Sie haben das Recht auf Löschung oder auf Einschränkung der Verarbeitung oder ein Widerspruchsrecht gegen die Verarbeitung.</li>
    <li>Sie können sich jederzeit an den Datenschutzbeauftragten der TU Dresden wenden:<br>
      Technische Universität Dresden<br>
      Datenschutzbeauftragter<br>
      01062 Dresden</li>
  </ul>
  <p>Tel.: +49 (0) 351 463 32839<br>
    Fax : +49 (0) 351 463 39718<br>
    E-Mail: <a href="mailto:informationssicherheit&#64;tu-dresden.de">informationssicherheit&#64;tu-dresden.de</a><br>
    https://tu-dresden.de/informationssicherheit</p>
  <ul>
    <li>Sie haben weiterhin das Recht auf Beschwerde bei einer Aufsichtsbehörde, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die Rechtsvorschriften verstößt. Die zuständige Aufsichtsbehörde für den Datenschutz ist:</li>
  </ul>
  <p>Sächsischer Datenschutzbeauftragter<br>
    Postfach 11 01 32<br>
    01330 Dresden</p>
  <p>E-Mail: <a href="mailto:saechsdsb&#64;slt.sachsen.de">saechsdsb&#64;slt.sachsen.de</a><br>
    Telefon:+ 49 (0) 35185471 101<br>
    Telefax: + 49 (0)351/85471 109<br>
    <a href="http://www.datenschutzrecht.sachsen.de">www.datenschutzrecht.sachsen.de</a></p>

</div>
