:host {
  display: block;
  height: 100vh;
}

.vc {
  padding: 2rem;
}
section, footer {
  padding: 1rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.app-nav-icon {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

mat-toolbar > span > a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

mat-toolbar > span > a:link, mat-toolbar > span > a:visited {
 text-decoration: none;
 color: white;
}

mat-toolbar > img {
  height: 3em;
  margin-right: 1em;
  cursor: pointer;
}

mat-form-field {
  width: 99%;
}

.vc .mat-form-field {
    margin: 40px 0;
    width: 500px !important;
    background: #555;
}
.vc .mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}
.vc .mat-toolbar-single-row button {
    width: 220px;
}
.vc .mat-form-field {
    width: 100%;
}
.vc #uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

.visual {
  width: fit-content;
  border-style: groove;
  border-width: medium;
  border-color: green;
}

.certpartlyvalid {
  background-color: #ffffac;
}

.certpartlyvalid:hover {
  background-color: #ffffac !important;
}

mat-panel-description.certpartlyvalid, mat-panel-title.certpartlyvalid {
  color: black;
}

.certnotvalid {
  background-color: #ffc7ac;
}

.certnotvalid:hover {
  background-color: #ffc7ac !important;
}

mat-panel-description.certnotvalid, mat-panel-title.certnotvalid {
  color: black;
}
