<mat-toolbar>
  <img routerLink="/" src="assets/Logo_MyEduLife.png" alt="MyEduLife Logo" />
  <span><a routerLink="/">Issuer Control Center</a></span>
  <span class="example-spacer"></span>
  <a class="app-nav-icon" routerLink="/impressum">Impressum</a>
</mat-toolbar>
<div class="vc">
  <h1>Prüfen Sie hier Ihr digitales Zertifikat aus der MyEduLife-Erprobung</h1>
  <p>Sie haben in einer Weiterbildung ein digitales Zertifikat des Projektes MyEduLife erhalten? Dieses können Sie hier ansehen, seine Gültigkeit prüfen und die gespeicherten zusätzlichen Informationen anzeigen.</p>
  <p>Gehen Sie hierzu wie folgt vor:</p>
  <ol>
    <li>Öffnen Sie die E-Mail, in der Sie das digitale Zertifikat erhalten haben. Speichern Sie die angehängte Datei mit der Endung *.json auf Ihrem Computer oder Smartphone. Wählen Sie hierfür möglichst einen sicheren und einheitlichen Ort.</li>
    <li>Laden Sie diese Datei über die Schaltfläche „Hochladen“ hoch. Wählen Sie hierbei den Ordner aus, in dem Sie die Datei vorab gespeichert haben.</li>
  </ol>
  <p>Sobald die Datei erkannt wurde, sehen Sie Folgendes:</p>
  <ol>
    <li>Eine Darstellung des Zertifikats, die der Darstellung auf Papier ähnelt.</li>
    <li>Weitere Informationen zu den absolvierten Themenfeldern, den erreichten Lernzielen und den zugeordneten Kenntnissen und Fähigkeiten in der europäischen Klassifikation ESCO unterhalb dieser Darstellung. Die Zuordnung zu ESCO ermöglicht den Abgleich Ihrer erworbenen Fähigkeiten mit anderen Weiterbildungen oder Jobangeboten, so dass Sie zukünftig Empfehlungen auf dieser Basis erhalten können.</li>
    <li>Demnächst: Eine Anzeige der Gültigkeit Ihres Zertifikats, welche auf die Unverändertheit der Inhalte und die Verifikation der ausstellenden Bildungsinstitution verweist.</li>
  </ol>
  <p>Haben Sie Fragen, Wünsche oder Probleme? Dann senden Sie uns gern jederzeit eine Nachricht an: Dr. Jörg Neumann &lt;<a href="mailto:joerg.neumann&#64;tu-dresden.de?subject=MyEduLife%20ICC%20VC">joerg.neumann&#64;tu-dresden.de</a>&gt;</p>
  <mat-form-field>
    <div>
      <mat-toolbar>
        <!-- Display files names -->
        <input matInput [(ngModel)]="fileAttr" readonly name="name" />
        <!-- Browse Button -->
        <button mat-flat-button color="primary">Hochladen</button>
      </mat-toolbar>
      <!-- Fetch selected filed on change -->
      <input
        type="file"
        #fileInput
        id="uploadFile"
        (change)="uploadFileEvt($event)"
        name="uploadFile"
        multiple="multiple"
        accept="application/json"
      />
    </div>
  </mat-form-field>
  <section *ngIf="canParse && validateEnabled">
    <mat-accordion>
      <mat-expansion-panel class="{{validationClass}}" hideToggle>
        <mat-expansion-panel-header class="{{validationClass}}">
          <mat-panel-title class="{{validationClass}}">
            Validierung
          </mat-panel-title>
          <mat-panel-description class="{{validationClass}}">
            Dieses Zertifikat erfüllt 1 von 5 Kriterien.
          </mat-panel-description>
        </mat-expansion-panel-header>

      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <section *ngIf="canParse">
    <div class="visual" [innerHTML]="visual"></div>
  </section>
  <section *ngIf="canParse">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lernbereiche
          </mat-panel-title>
          <mat-panel-description>
            Themenfelder in der Weiterbildung
          </mat-panel-description>
        </mat-expansion-panel-header>
          <ul *ngFor="let entry of vc.credentialSubject.achievement.learningActivities">
            <li>{{entry.title}}</li>
          </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <section *ngIf="canParse">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lernziele
          </mat-panel-title>
          <mat-panel-description>
            Erreichte Lernergebnisse
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul *ngFor="let entry of vc.credentialSubject.achievement.learningOutcomes">
          <li>{{entry.text}}</li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <section *ngIf="canParse">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            ESCO
          </mat-panel-title>
          <mat-panel-description>
            Kenntnisse und Fähigkeiten nach europäischer Klassifikation (<a href="https://esco.ec.europa.eu/de" target="_blank">ESCO</a>)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul *ngFor="let entry of vc.credentialSubject.achievement.learningOutcomesEsco">
          <li><a href="{{entry.esco}}" target="_blank">{{entry.esco}}</a></li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</div>
<footer>
  <span>Version: {{version}}</span>
</footer>

