<div class="container">
  <h2>Digitalen Bildungsnachweis erstellen</h2>
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel><p>Nachweisvorlage hochladen</p></ng-template>
          <div>
            <div class="col-8">
              <label class="btn btn-default p-0">
                <input type="file" (change)="selectFile($event)" />
              </label>
            </div>
            <div class="col-4">
              <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                Datei hochladen
              </button>
            </div>
          </div>
          <div class="progress my-3">
            <div
              class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar"
              attr.aria-valuenow="{{ progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress + '%' }"
            >
              {{ progress }}%
            </div>
          </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">

        <ng-template matStepLabel><p>Auswahl von Teilnehmenden</p></ng-template>
          <div *ngIf="isResult">
            <section class="result">
              <c-alert color="{{messageType}}" fade *ngIf="message">
                {{ message }}
              </c-alert>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="statusCode">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td class="{{ getTableRowCssClass(element) }}" mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="familyName">
                  <th mat-header-cell *matHeaderCellDef> Nachname </th>
                  <td mat-cell *matCellDef="let element"> {{element.familyName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="givenName">
                  <th mat-header-cell *matHeaderCellDef> Vorname </th>
                  <td mat-cell *matCellDef="let element"> {{element.givenName}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="courseTitle">
                  <th mat-header-cell *matHeaderCellDef> Kurs </th>
                  <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
                </ng-container>


                <ng-container matColumnDef="expand">
                  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                      @if (expandedElement === element) {
                      <mat-icon>keyboard_arrow_up</mat-icon>
                      } @else {
                      <mat-icon>keyboard_arrow_down</mat-icon>
                      }
                    </button>
                  </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="example-element-detail"
                         [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                      <mat-form-field class="input-form-field">
                        <mat-label>Anrede</mat-label>
                        <input matInput type="text" [(ngModel)]="element.gender">
                        @if (element.gender) {
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="element.gender=''">
                          <mat-icon>close</mat-icon>
                        </button>
                        }
                      </mat-form-field>

                      <mat-form-field class="input-form-field">
                        <mat-label>Vorname</mat-label>
                        <input matInput type="text" [(ngModel)]="element.givenName">
                        @if (element.givenName) {
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="element.givenName=''">
                          <mat-icon>close</mat-icon>
                        </button>
                        }
                      </mat-form-field>

                      <mat-form-field class="input-form-field">
                        <mat-label>Nachname</mat-label>
                        <input matInput type="text" [(ngModel)]="element.familyName">
                        @if (element.familyName) {
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="element.familyName=''">
                          <mat-icon>close</mat-icon>
                        </button>
                        }
                      </mat-form-field>

                      <mat-form-field class="input-form-field">
                        <mat-label>Ort</mat-label>
                        <input matInput type="text" [(ngModel)]="element.place">
                        @if (element.place) {
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="element.place=''">
                          <mat-icon>close</mat-icon>
                        </button>
                        }
                      </mat-form-field>

                      <mat-form-field class="input-form-field-small">
                        <mat-label>Stunden</mat-label>
                        <input matInput type="number" [(ngModel)]="element.hours">
                        @if (element.hours) {
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="element.hours=''">
                          <mat-icon>close</mat-icon>
                        </button>
                        }
                      </mat-form-field>

                      <mat-form-field class="input-form-field-big">
                        <mat-label>Kurs</mat-label>
                        <input matInput type="text" [(ngModel)]="element.courseName">
                        @if (element.courseName) {
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="element.courseName=''">
                          <mat-icon>close</mat-icon>
                        </button>
                        }
                      </mat-form-field>

                      <mat-form-field class="input-form-field-med">
                        <mat-label>E-Mail</mat-label>
                        <input matInput type="text" [(ngModel)]="element.mail">
                        @if (element.mail) {
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="element.mail=''">
                          <mat-icon>close</mat-icon>
                        </button>
                        }
                      </mat-form-field>

                      <mat-form-field class="input-form-field-textarea">
                        <mat-label>Kurs Beschreibung</mat-label>
                        <textarea matInput type="text" [(ngModel)]="element.courseDescription"></textarea>
                        @if (element.courseDescription) {
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="element.courseDescription=''">
                          <mat-icon>close</mat-icon>
                        </button>
                        }
                      </mat-form-field>

                      <mat-form-field class="input-form-field">
                        <mat-label>Geburtstag</mat-label>
                        <input matInput disabled type="text" [(ngModel)]="element.birthday">
                      </mat-form-field>

                      <mat-form-field class="input-form-field">
                        <mat-label>Zertifikatsdatum</mat-label>
                        <input matInput disabled type="text" [(ngModel)]="element.issuanceDate">
                      </mat-form-field>

                      <mat-form-field class="input-form-field">
                        <mat-label>Von</mat-label>
                        <input matInput disabled type="text" [(ngModel)]="element.start">
                      </mat-form-field>

                      <mat-form-field class="input-form-field">
                        <mat-label>Bis</mat-label>
                        <input matInput disabled type="text" [(ngModel)]="element.end">
                      </mat-form-field>

                      <mat-form-field class="input-form-field">
                        <mat-label>Direktor</mat-label>
                        <input matInput disabled type="text" [(ngModel)]="element.managingDirector">
                      </mat-form-field>

                      <mat-form-field class="input-form-field">
                        <mat-label>Seminarleiter</mat-label>
                        <input matInput disabled type="text" [(ngModel)]="element.seminarLeader">
                      </mat-form-field>

                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"

                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" (click)="selection.toggle(row)"></tr>
              </table>
              <div class="demo-button-container">
                <button
                  mat-fab extended
                  [disabled]="!selection.hasValue()"
                  (click)="createCertificates()"
                  class="create-certificates">
                  Erstelle Nachweise
                </button>
              </div>
            </section>
          </div>

        <div>
          <button mat-button matStepperPrevious>Neue Nachweisvorlage hochladen</button>
          <button mat-button matStepperNext>Fertig</button>
        </div>
    </mat-step>
    @if (withFinishStep) {
      <mat-step>
        <ng-template matStepLabel>Fertig</ng-template>
        <p class="stepper-description">Alle ausgewählten Zertifikate wurden erfolgreich erstellt.</p>
      </mat-step>
    }
  </mat-vertical-stepper>











</div>
