.visual {
  width: fit-content;
  border-style: groove;
  border-width: medium;
  border-color: green;
  background-color: white;
}

.container {
  position: relative;
}

.progress {
  margin-top: 2rem;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
  background-color: #555;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

button.create-certificates {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: block;
}

.example-element-description {
  padding: 16px;
}

.input-form-field-small {
  width: 14rem;
  margin: 1rem;
}

.input-form-field {
  width: 20rem;
  margin: 1rem;
}

.input-form-field-med {
  width: 40rem;
  margin: 1rem;
}

.input-form-field-big {
  width: 60rem;
  margin: 1rem;
}

.input-form-field-textarea {
  width: 102rem;
  margin: 1rem;
}

.stepper-description {
  color: white;
}

.tableRowDefault {
  background-color: rgb(66, 66, 66);
}

.tableRowDefault:hover {
  background-color:  rgb(66, 66, 66);
}

.tableRowSent {
  background-color: #00b33c;
}

.tableRowSent:hover {
  background-color:  #00b33c;
}

.tableRowWarning {
  background-color: #cccc00;
}

.tableRowWarning:hover {
  background-color:  #cccc00;
}

.tableRowError {
  background-color: #cc0000;
}

.tableRowError:hover {
  background-color:  #cc0000;
}
