.example-spacer {
  flex: 1 1 auto;
}
.app-nav-icon {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
.logged-user {
  color: #c684ff;
}

mat-toolbar > span > a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

mat-toolbar > span > a:link, mat-toolbar > span > a:visited {
 text-decoration: none;
 color: white;
}

mat-toolbar > img {
  height: 3em;
  margin-right: 1em;
  cursor: pointer;
}
