<mat-toolbar>
  <img routerLink="/" src="assets/Logo_MyEduLife.png" alt="MyEduLife Logo" />
  <span><a routerLink="/">Issuer Control Center</a></span>
  <span class="example-spacer"></span>

  <span class="logged-user">Angemeldet als {{ userProfile.username }}</span>
  <a *ngIf="isAdmin" class="app-nav-icon" routerLink="admin">Institution</a>
  <a class="app-nav-icon" routerLink="user">Persönlich</a>
  <button class="app-nav-icon" mat-raised-button color="primary" (click)="logout()">Abmelden</button>
</mat-toolbar>

<mat-toolbar-row class="mat-toolbar-row">
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-toolbar-row>
