/* You can add global styles to this file, and also import other style files */
@import 'styles/roboto.scss';
@import 'styles/material-icons.scss';
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
